{
    "singleQuote": true,
    "trailingComma": "all",
    "eslintIntegration": true,
    "stylelintIntegration": true,
    "printWidth": 80,
    "tabWidth": 4,
    "semi": false,
    "someLongKeyName": "value"
}
